<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elkhamitechnologies.projectkeeper">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.elkhamitechnologies.projectkeeper.ui.activities.HelpActivity"
            android:parentActivityName="com.elkhamitechnologies.projectkeeper.ui.activities.MainActivity"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="987256bc635b349650c5e8671ce1c066fdf7ff98" />

        <activity android:name="com.elkhamitechnologies.projectkeeper.ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.elkhamitechnologies.projectkeeper.ui.activities.EntryActivity"
            android:parentActivityName="com.elkhamitechnologies.projectkeeper.ui.activities.MainActivity" />
        <activity
            android:name="com.elkhamitechnologies.projectkeeper.ui.activities.WelcomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.elkhamitechnologies.projectkeeper.ui.activities.EntryDetailsActivity"
            android:parentActivityName="com.elkhamitechnologies.projectkeeper.ui.activities.EntryActivity" />
        <activity android:name="com.elkhamitechnologies.projectkeeper.ui.activities.FortressGateActivity" />
        <activity
            android:name="com.elkhamitechnologies.projectkeeper.ui.activities.CreateEntryActivity"
            android:theme="@style/AppThemeUpDown" />
        <activity
            android:name="com.elkhamitechnologies.projectkeeper.ui.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>